*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(83, 189, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
#main > h4{
    color: rgb(255, 33, 4);
}
#panel{
    width: 80%;
    overflow: hidden;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}
#ptop{
    padding: 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    height: 100px;
    background-color: rgb(147, 194, 163);
}

.elem{
    /* width: 10%; */
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: #16944b;
    font-weight: 700;
    font-size: 22px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    height: calc(100% - 100px);
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    font-weight: 500;
    background-color: #99b8a6;
}
.bubble:hover{
    background-color: #16944b;
    cursor: pointer;
}